<style>
div.zoomed { 
    zoom: 3; -moz-transform: scale(3); -moz-transform-origin: 0 0;
    
}
body{
     transform: scale(1);
    zoom :1;
   transform-origin: 10% 10%;
    //background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%);
    background: url("../Images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tblMain{
    width: 100%;
    height: auto;
    background: url(../Images/fireworks.png);
}
.header{
   // width: 90%;
    height: 50%;
    opacity: 0.9;
    border-radius: 0.5vh;
    box-shadow: 0px -4px 5px gray;
    margin-top: 10px;
}
.navTable{
    margin-top: 50px;
    direction: rtl;
    background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
    color: white;
    border-radius: 0.4vh;
    margin-bottom: 0.4vw;
    width: 20%;
    height: 4.2vh;
    float: right;
   //margin-right: 35%;
}
.navTableTab{
    position: relative;
    width:22%;
    height:80%;
    color: black;
    text-align: center;
    border-color: gray;
    border-right-width: 2.1;
    margin-left: 2px;
    border-right-style: solid;
    border-left-style: solid;
    font-size: 2vh;
    //border-style: double;
    
}
.navTableTab:hover{
    color:skyblue;
     border-color: skyblue;
    cursor:pointer;
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); 
}
.navTableTab a{
    color:currentColor;
    text-decoration: none;
}
.navTableTab a:visited{
    color:currentColor;
}

.anchors{
    width:100%;
    vertical-align: middle;
    height:2.9vh;
    //border-style: dotted;
}
/*
.anchors:hover{
    color:skyblue;
}*/
.tell_story{
    word-wrap: break-word;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    border-radius: 3px;
    border-style: groove;
    border-color: darkgray;
    
}
.bottomTable{
    border-top-style: dashed;
    border-top-color: whitesmoke;
    background-color: black;
    color:whitesmoke;
    vertical-align: baseline;
    direction: rtl;
}
.bottomTable a{
    padding-right: 50px;
    color: currentColor;
    display: block;
}
.bottomTable a:visited{
    color: currentColor;
    
}
.contentTable{
    margin-top: 10px;
    direction: rtl;
    width: 50%;
    text-align: center;
    vertical-align: text-top;
     background: url(../Images/fireworks2.png);
    background-size: 100% 50%;
   // background: linear-gradient(to right, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    border-spacing:2em;
}

#contentTableLilAbout{
    
    vertical-align: baseline;
}
.loginTable{
    margin-top: 10px;
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    border-radius: 0.6vw;
    color:whitesmoke;
    border-style: double;
    border-color: antiquewhite;
    box-shadow: 0px 12px 45px dimgray;
}
#loginTableUsername{
    border-radius: 0.5vw;
}
#loginTablePassword{
    border-radius: 0.5vw;
}
.myH3{
    margin-right: 0.5vw;
    display: inline;
    
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: groove;
    font-family: "Open Sans", sans-serif;
}


#loginLabel{
    text-align: right;
    display: inline;
    background:linear-gradient(to bottom, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
    padding:0% 40% 0px 40%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    color: white;
}

#contentTableLilAbout{
    
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    border-radius: 13px;
    border-style: double;
    border-color: antiquewhite;
    box-shadow: 0px 12px 45px dimgray;
}

.fb-page{
     background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    //background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); 
    width: 100%;
    border-radius: 13px;
    border-style: double;
    border-color: antiquewhite;
    box-shadow: 0px 12px 45px dimgray;
}
#logo{
    width: 15%;
    height: 20%;
    position: absolute;
    margin-top: 2%;
    right: 20;
}

.mainFrame{
    direction: rtl;
    width: 95%;
    height: 80%;
    border-radius: 2vw;
    //border-style:groove;
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-color: burlywood;
 
    background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
    //box-shadow: 0.2vw 0.4vw 0.5vw black,
      //          0vw -0.3vw 3vw lightGray; 
    resize: vertical;
}
.nav{
    margin-top: 50px;
    direction: rtl;
    color: white;
    border-radius: 0.4vh;
    margin-bottom: 0.4vw;
    width: 30%;
    height: 4.2vh;
    float: right;
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    //background: linear-gradient(to bottom, #f3e2c7 0%,#bfa278 46%,#e9d4b3 100%);
    box-shadow: 0px 7px 15px black;
}
nav{
    overflow:hidden;
    //position: relative;
    
    direction: rtl;
    width:99%;
    height: 6.8%;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    border-radius: 0.5vw;
    border: 0.1vw;
    border-color: black;
    border-style: solid;
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    //background: linear-gradient(to bottom, #f3e2c7 0%,#bfa278 46%,#e9d4b3 100%);
}

.navLink{

    //background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%);
    //display: inline-table;
    display:inline-block;
    /*
    position:relative;
    bottom: -10%;
    right: 2%;
    */
    
    margin-left: 0;
    //margin-right: 1vw;
    margin-top: 0.9vh;
    
    text-align: center;
    
    border-style: groove;
    border-left-width: 0.1vw;
    border-right-width: 0.1vw;
    border-top-width: 0vh;
    border-bottom-width: 0vw;
    //border-radius: 0.4vw;
    width:7%;
    height:65%;
    color: black;
    font-size: 1.3vw;
    
    text-shadow: rgba(255, 255, 255, 0.2) 0.1vw 0.2vw 0.3vw;
    border-color:cornflowerblue;
    text-decoration: none;
    box-shadow: 0px 0.2vw 1vw gray;
}

.upPage{
    margin-left: 2.5%;
    //background-color: aqua;
    position: static;
    height: 15%;
    width: 95%;
    float: none;
}

.navLink:active{
   //background: linear-gradient(to bottom, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
    color: white;
    text-shadow: 0px 0px 1vw white;
    box-shadow: 0px 0px 1vw black;
    border-bottom-width: 0.1vw;
}

.navLink:hover{
    border-color:black;
    color: white;
    background: linear-gradient(to bottom, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
    //background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%);
   // background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%);
    text-shadow: 0px 0px 2vw black;
}

.login{
    position: relative;
    left: 5%;
    top: 90%;
    font-family:sans-serif;
    font-size: 1.2vw;
    resize: none;
    display:inline-block;
}
#username{
    display: inline;
}
#logout{
    display: inline;
    color:black;
}
#logout:hover{
    color:dimgray;
}
aside{
    display: inline-block;
    position: absolute;
    height:91.2%;
    width: 15%;
    background: linear-gradient(to right, #ffffff 0%,#e5e5e5 100%);
    border-left-width: 2px;
    border-color: antiquewhite;
    border-style: double;
    border-bottom-right-radius: 20px;
    box-shadow: -5px 0px 10px lightGray;
}

main{
    width:83%;
    height:91.2%;
    margin-right: 0.5%;
    display: inline-block;
    
}
#studentsMain{
    width:99%;
}

#studPresInfo{
    font-size: 1.2vw;
    float: right;
    width: 40%;
    height: 10%;
    margin-top: 1.5%;
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    border-bottom-left-radius: 2vw;
    border-width: thin;
    box-shadow: 0px 0px 0.2vw gray;
    color: black;
    //font-size: 1.3vw;
    
    //text-shadow: gray 0px 0.1vh 0.1vw, 0vh 1.5vh 0.1vw gray;
   
    
}

#studActInfo{
    font-size: 1.2vw;
    -webkit-text-size-adjust:none;
    float: left;
    width: 40%;
    height: 10%;
    margin-top: 1.5%;
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    border-bottom-right-radius: 2vw;
    border-width: thin;
    box-shadow: 0px 0px 0.2vw gray;
}

#studCalInfo{
    //font-size: 1.2vw;
   // -webkit-text-size-adjust:none;
    position: relative;
    top: 15%;
    //margin-right: 0.2vw;
    width: 100%;
    height: 85%;
    box-shadow: -0.1vw 0vh 0.2vw gray,0.1vw -0.2vh 0.2vw gray,0vw 1vh 4vw gray;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    
}

.fullNameInfo{
    display: inline-block;
    margin-right: 1.2vw;
    margin-top: 1.1vh;
    padding-left: 10vw;
     -webkit-box-reflect: below -0.9vh -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
}

#calendar{
    margin-right: 10%;
    text-align: center;
    width:60%;
    height: 98%;
    
    position: absolute;
}


</style>