<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
	<title>יוצאים ללמוד</title>
	<link rel="stylesheet" href="css/form.css"> <!-- load bootstrap css -->
    <script type="text/javascript" src="scripts/jquery-3.0.0.min.js"></script>
	<script src="scripts/op.js"></script>
    
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
    
	<h1 style="text-align:right;"><span class="fa fa-sign-in"></span> הרשמה</h1>

	<!-- show any messages that come back with authentication 
	 <% if (message.length > 0) { %> 
		<div class="alert alert-danger"><%= message %></div>
	<<% } %>
    <hr>
	<!-- LOGIN FORM -->
	<form action="/signup" method="post" id="formS" onsubmit="return checkForm()">
		<div class="form-group" style="text-align:right;">
			<label>שם משתמש</label>
            <p>שם משתמש חייב להכיל תוים באנגלית או בנוסף גם מספרים בלבד</p>
			<input type="text" class="form-control" name="username" id="username">
		</div>
		<div class="form-group" style="text-align:right;">
			<label>סיסמה</label>
            <p> :סיסמא חייבת להכיל תוים באנגלית, מספרים או תוים מיוחדים: !,@,$,%,& </p>
			<input type="password" class="form-control" name="password" id="password">
		</div>
        <div class="form-group" style="text-align:right;">
			<label>שם פרטי</label>
            <p>שם פרטי חייב להיות בעברית או אנגלית בלבד</p>
			<input type="text" class="form-control" name="firstName" id="firstName">
		</div>
        <div class="form-group" style="text-align:right;">
			<label>שם משפחה</label>
            <p>שם משפחה חייב להיות בעברית או אנגלית בלבד</p>
			<input type="text" class="form-control" name="lastName" id="lastName">
		</div>
        <div class="form-group" style="text-align:right;">
			<label>דואר אלקטרוני</label>
			<input type="text" class="form-control" name="email" id="email">
		</div>
        <div class="form-group" style="text-align:right;">
			<label>עיר </label>
			<input type="text" class="form-control" name="city" id="city">
		</div>
        <div class="form-group" style="text-align:right;">
			<label>טלפון</label>
			<input type="text" class="form-control" name="phone" id="phone">
		</div>
        
        <div class="form-group"  style="text-align:right;">
            <label>הרשאות</label><br>
			<div id="pervs">
                
                <div class="myRadio" ><h4>מנהל</h4><input type="checkbox"  value="0" name="adminP" id="adminP" onchange="checkMe(this.id)"></div>
                <div class="myRadio" ><h4>מורה</h4><input  type="checkbox" value="0" name="teacherP" id="teacherP" onchange="checkMe(this.id)"></div>
                <div class="myRadio" ><h4>תלמיד</h4><input type="checkbox"  value="0" name="studentP" id="studentP" onchange="checkMe(this.id)"></div>
                <div class="myRadio"><h4>מלגאי</h4><input type="checkbox"  value="0" name="schT" id="schT" onchange="checkMe(this.id)"></div>
            </div>
		</div>
        
		<button type="submit" class="btn btn-warning btn-lg">רשום</button>
	</form>

	<hr>

	

</div>

</div>
</body>
</html>
